<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/public/css/style.css"/>

        <title>EasyISO</title>
        {% block head %}{% endblock %}
        <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js" defer></script>
    </head>
    <body class="bg-indigo-500" hx-boost="true">
        {% if base.navbar %}
        <div class="w-full bg-indigo-700 border-b-4 border-indigo-900 shadow-lg">
            <h1 class="block w-full justify-center clear-both text-white p-5 text-4xl font-bold">EasyISO</h1>
        </div>
        {% endif %}
        <div class="flex justify-center h-full w-full pt-8">
            {% block content %}
            <div>
                <p>Placeholder content</p>
            </div>
            {% endblock %}
        </div>
    </body>
</html>
