<div class="w-full">
    <h3 class="mt-4">Certifica&ccedil;&atilde;o {{ certification.name }}</h3>
    <hr class="mt-4">

    <div class="mt-4">
        {% autoescape false %}{{ certification.checklists }}{% endautoescape %}
    </div>
</div>
