<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th colspan="5" class="w-full py-5">Procedimentos Pendentes</th>
        </tr>
        <tr>
            <th scope="col" class="px-6 py-3">Nome</th>
            <th scope="col" class="px-6 py-3">Data de inicio</th>
            <th scope="col" class="px-6 py-3">Atraso</th>
            <th colspan="2" scope="col" class="px-6 py-3">Responsavel</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Descarte e reciclagem de lixo</th>
            <td class="px-6 py-4">30/07/2024</td>
            <td class="px-6 py-4">9 dias em atraso (Critico)</td>
            <td class="px-6 py-4">Rafael da Silveira</td>
            <td class="px-6 py-4">
                <button class="block justify-center text-center p-3 w-full bg-indigo-500 text-white rounded-md">Enviar Alerta</button>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Descarte e reciclagem de lixo</th>
            <td class="px-6 py-4">31/08/2024</td>
            <td class="px-6 py-4">8 dias em atraso (Critico)</td>
            <td class="px-6 py-4">Rafael da Silveira</td>
            <td class="px-6 py-4">
                <button class="block justify-center text-center p-3 w-full bg-indigo-500 text-white rounded-md">Enviar Alerta</button>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Descarte e reciclagem de lixo</th>
            <td class="px-6 py-4">01/08/2024</td>
            <td class="px-6 py-4">7 dias em atraso (Critico)</td>
            <td class="px-6 py-4">Rafael da Silveira</td>
            <td class="px-6 py-4">
                <button class="block justify-center text-center p-3 w-full bg-indigo-500 text-white rounded-md">Enviar Alerta</button>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Descarte e reciclagem de lixo</th>
            <td class="px-6 py-4">02/08/2024</td>
            <td class="px-6 py-4">6 dias em atraso (Critico)</td>
            <td class="px-6 py-4">Rafael da Silveira</td>
            <td class="px-6 py-4">
                <button class="block justify-center text-center p-3 w-full bg-indigo-500 text-white rounded-md">Enviar Alerta</button>
            </td>
        </tr>
    </tbody>
</table>
