{% extends "base.j2" %}

{% block content %}
<div class="w-5/6 min-h-1 h-fit h-auto bg-white p-10 text-2xl rounded-md">
    <h2 class="font-bold">Dashboard</h2>
    <hr class="w-full mt-4 mb-4">

    <div class="flex w-full" id="board_contents">
        <a hx-target="#board_contents"
           hx-swap="innerHTML"
           hx-get="/certifications/14066921-d4d3-42cf-9688-52bf459de23b/iso-14001"
           class="hover:bg-gray-700 hover:text-white border-2 border-indigo-900 py-5 px-3 w-1/5 items-center justify-center">
            <span class="i-[carbon-certificate-check] w-12 h-12 mr-2 block clear-none float-left"></span>
            Certifica&ccedil;&atilde;o ISO-14001
        </a>
    </div>
</div>
{% endblock %}
