{% extends "base.html.j2" %}

{% block content %}
<div>
    {% if authenticated %}
        <a href="/dashboard">Go to Dashboard</a>
    {% else %}
        <a href="/login">Authenticate</a>
    {% endif %}
</div>
{% endblock %}
