<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/public/css/materialize.min.css"/>
        <link rel="stylesheet" href="/public/css/style.css"/>

        <title>EasyISO</title>
        {% block head %}{% endblock %}
    </head>
    <body hx-boost="true" class="grey lighten-5">
        <nav class="blue darken-4" role="navigation">
            <div class="nav-wrapper container"><a href="#" id="logo-container" class="brand-logo">EasyISO</a></div>
        </nav>

        <div class="section no-pad-bot">
            <br><br>
            <div class="container" id="main_content">
            {% block content %}
                {% if is_logged_in %}
                    {% include 'components/dashboard' %}
                {% else %}
                    {% include 'components/login' %}
                {% endif %}
            {% endblock %}
            </div>
            <br><br>
        </div>

        <footer class="page-footer blue darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Company Bio</h5>
                        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright darken-4">
                <div class="container"></div>
            </div>
        </footer>

        <script src="/public/js/materialize.min.js"></script>
        <script src="/public/js/htmx.min.js"></script>
    </body>
</html>
