{% extends "base.j2" %}

{% block content %}
<div>
    {% if base.authenticated %}
        <a href="/dashboard">Go to Dashboard</a>
    {% else %}
        <a href="/login">Authenticate</a>
    {% endif %}
</div>
{% endblock %}
